:root{
    --bg-background-primary : #1E202B;
    --bg-background-secondary : #323544;
    --bg-background-trenary : #262936;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body , input{
    font-family: Comfortaa, Arial !important;
    background-color: var(--bg-background-primary) !important;
}

.search{
    background-image: linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.3) ) , url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search input::placeholder{
    color: #a29292 !important;
    font-size: 20px !important;
    padding-left: 10px;
}

.search input:focus{
    box-shadow: unset !important;
    border-color: unset !important;
}

.weather-template{
    margin-top: -100px;
}
.weather-template .card-body{
    color: #BFC1C8;
}

.todaycard{
    background-color: var(--bg-background-secondary);
    border-radius: 10px 0 0 10px;
}
.todaycard .card-tittle{
    background-color: var(--bg-background-trenary);
    border-radius: 10px 0 0 0 ;
}
.next-card{
    background-color: var(--bg-background-trenary);
}
.next-card .card-tittle{
    background-color: var(--bg-background-secondary);
}
.lastcard{
    background-color: var(--bg-background-secondary);
    border-radius: 0 0 10 10px;
}
.lastcard .card-tittle{
    background-color: var(--bg-background-trenary);
    border-radius: 0 10px 0 0 ;
}